body {
    background-color: #dddddd;
}
.container {
    width: 700px;
    margin: 0 auto;
    border: 1px solid #222222;
    padding: 15px;
    background-color: #ffffff;
}
/* STYLING JUDUL */
.header {
    text-align: center;
}
/* STYLING MENU */
.menu {
    background-color: #222222;
}
.menu ul {
    padding: 0;
    margin: 0;
}
.menu ul li {
    float: left;
    list-style-type: none;
}
.menu ul li a {
    padding: 10px 15px;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
}
.menu ul li a:hover {
    background-color: red;
}
.clear {
    clear: both;
}

/* CONTENT */
.content {
    padding: 15px;
}

.content .artikel {
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;

}
.content .artikel h2 {
    font-size: 18px;
    font-weight: bold;
}
.content .artikel p {
    text-align: justify;
}

/* STYLING TAMBAH ARTIKEL */
.form-tambah-artikel {
    padding: 15px 0;
}

.field-artikel {
    margin-bottom: 20px;
}

.field-artikel label {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

.field-artikel input[type=text], 
.field-artikel input[type=password],
.field-artikel textarea {
    padding: 10px 15px;
    border: none;
    background-color: #dddddd;
    width: 300px;
}

.field-artikel input[type=submit],
.field-artikel input[type=reset] {
    padding: 10px 15px;
    background-color: green;
    border: none;
    color: #fff;
}

.field-artikel input[type=reset] {
    background-color: red;
}

.field-artikel input[type=submit]:hover,
.field-artikel input[type=reset]:hover {
    cursor: pointer;
    background-color: #222222;   
}

.button-delete, .button-edit {
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 15px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 3px;
    font-size: 13px;
    letter-spacing: 0.02em;
    transition: background-color 0.2s ease-in-out;
    margin-right: 10px;
}

.button-delete {
    background-color:red;
}
.button-edit {
    background-color: blue;
}

.button-delete:hover, .button-edit:hover {
    background-color: #2f3134;
}

/* PESAN */
.error { color: red; }
.success { color: green; }